# XPS
/implementation
/synthesis
/report
/blockdiagram
/revup
/hdl
__xps
*.log
*.svf
*.scr
*.cmd
*.bak
*~
*.elf
*.ace
*.make
platgen.opt
*.gui
XpsGuiSessionLock
*.filters

# XSDK
*.slo
*.lo
*.o
*.so
*.lai
*.la
*.a
Debug/
Release/
.metadata/
/SDK/SDK_Workspace/*_hw_platform/
/SDK/SDK_Workspace/*_bsp/
/SDK/SDK_Export/

# ISE
*.log
*.svf
*.scr
*.cmd
*.bak
*.lso
*.elf
*.ace
*~
*#
*.swp
*.ini
*.html
*.vhi
*.wdb
*.stx
*.xmsgs
*.xreport
*.exe
*.cmd_log
*_beh.prj
*.ncd
isim
db
incremental_db
work
*.cr.mti
vsim.wlf
transcript
webtalk.log
webtalk_impact.xml
pepExtractor.prj
impact.xsl
impact_impact.xwbt
xst/

*.debug
*.xml
_ngo/
*.bgn
*.bit
*.bld
*.drc
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*_map.map
*_map.mrp
*_map.ngm
*_map.xrpt
*_ngdbuild.xrpt
*_pad.csv
*_pad.txt
*_par.xrpt
*_xst.xrpt
xlnx_auto_0_xdb/